.nav-container{
  transition:all 0.5s ease-in-out;
}
.navbar{
   background: linear-gradient(-150deg, rgba(36,51,169,1) 0%,rgba(234,49,124,1) 71%,rgba(234,49,124,1) 100%),
}
.product-link{
  background-color: #fb236a;
  border-radius: 10px;  
  border: 2px solid #fb236a ;
  transition: all 0.3s ease 0s;
  outline: none;
  margin: 3px;
}
.product-link:hover{
  background: transparent;
}
a{
  text-decoration: none;
}